html {
  font-family: $global-font-family;
  font-weight: $global-font-weight;
  font-display: block;
  font-size: $global-font-size;
  line-height: $global-line-height;
  width:100%;
}

/* scrollbar, only support webkit */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-color;

  &:hover {
    background-color: $scrollbar-hover-color;
  }
}

::selection {
  background-color: $selection-color;

  [theme=dark] & {
    background-color: $selection-color-dark;
  }
}

body {
  font-family: $global-font-family;
  font-weight: $global-font-weight;

  background-color: $global-background-color;
  color: $global-font-color;
  @include overflow-wrap(break-word);
  scrollbar-color: auto;

  &[theme=dark] {
    color: $global-font-color-dark;
    background-color: $global-background-color-dark;
  }
}

@include ms;
@include link(true, true);

#mask {
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: $header-height;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);

  .blur & {
    z-index: 100;
    background-color: rgba(0, 0, 0, .25);
  }
}

@import "../_partial/details";
@import "../_partial/fixed-button";

img {
  @include object-fit(contain);
}
